/* 标题部分 开始 */
.title{width:100%; background:#EEEEEE; border-bottom:1px solid #CCCCCC; height:120px; padding:116px 0 0 0;}
.title_in{}
.title_in .left h2{font-size:26px; color:#444; font-weight:normal; height:44px;}
.title_in .left .time,.title_in .left .num{background:url(../img/show-main.png) no-repeat 0 -1px; padding:0 0 0 17px; color:#999; font-size:14px;}
.title_in .left .num{background-position:0 -34px; margin:0 0 0 38px;}
.title_in .right a{display:inline-block; width:50px; height:50px; background:url(../img/show-mian-r.png) no-repeat 0 0;}
/* 标题部分 结束 */
/* 内容开始 */
.main{width:100%; background:#EEEEEE;}
.main_in{ padding:35px 0 0 0;}
.main_in p{line-height:25px; font-size:16px; font-family:"SimSun";}
.main_in p a{color:#551A8B;} 
.main_in .icon{text-align:center; padding:100px 0 60px 0;}
.main_in .icon a{display:inline-block; width:55px; height:55px; background:url(../img/main_icon.jpg) no-repeat 0 0;}

/* 内容结束 */
/*定制网站开始*/
.make{width:100%; text-align:center; padding:20px 0 72px 0;}
.make .contact{width:530px; border:1px solid #0078DB;margin:0 auto; text-align:center; padding:3px;}
.contact h3{height:80px; line-height:80px; font-size:25px; color:#fff; background-color:#1797FF; }
.contact h3 span{float:left; display:inline; margin:26px 0 0 35px; width:45px; height:32px; background:url(../img/mainbg.png) no-repeat -455px -160px;}
.make h2{font-size:32px; color:#1797FF;}
.make .f16{color: #666; height:60px;}
.main_bottom{overflow:hidden;}
.make .form{width:413px; padding:20px 0 0 0; }
.form .one,.form .two,.form .three{height:30px; font-family:"SimSun"; font-weight:normal; font-size:14px;}
.form .one,.form .two,.form .three,.form .four{border:1px solid #ABABAB; background:#F7F7F7; color:#1797FF; padding:0 0 0 10px;}
.form .one,.form .two{width:188px;}
.form .three{width:401px; margin:12px 0; display:inline;}
.form .four{width:401px; height:90px; font-family:"SimSun";}
.form button{width:411px; height:34px; line-height:34px; text-align:center; background:#1797FF; color:#fff; margin:15px 0 0 0;}
.main_bottom .map{padding:70px 0 0 0; width:410px; text-align:left;}
.main_bottom .map h3{font-size:18px; height:37px; color:#7D667D;}
.main_bottom .map p{height:26px; color:#666666; background:url(../img/mainbg.png) no-repeat -490px -202px; padding:0 0 0 10px;}
  
  
 
/*定制网站结束*/