@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
// @import './reset.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}



label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

//重置的样式
body, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, p, blockquote, th, td {
  font-weight:400;
  margin:0;
  padding:0;
  }
  ol, ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    }
  // 全局公用样式
  // 灰色文字
  .gray{
    font-size: 12px;
    line-height: 20px;
    color: #9b9a9a;
    margin-top:5px;
  }
  .mb{
    margin-bottom:30px;
  }
  .mb_10{
    margin-bottom:10px;
  }

  // 卡片阴影
  .el-card,.el-card.is-always-shadow{
    box-shadow: 0 0 0 0 ;
  }
  //公共的红色*提示文字
  .tips{
    font-weight: normal;
    font-size:12px;
    margin-left:10px;
    .red{
      color:red;
    }
  }
//推广页面-tabs切换
.extension-tabs .el-tabs__nav-scroll{
  background: #e8e7e7;
}
.extension-tabs .el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
  background: #fff;
  border-top:3px solid #409EFF;
  box-sizing: content-box;
 

}
.extension-tabs .el-tabs--top.el-tabs--card>.el-tabs__header .el-tabs__item{
  padding:0 60px!important;
}
.extension-tabs .el-tabs--card>.el-tabs__header .el-tabs__nav{
  border:none;
}
//推广页面-添加广告组-场景选择
.scene-choice .el-radio-button__inner{
  background:#fff ;
  border:1px solid #e8e7e7;
  margin-left:5px;
  padding: 16px 60px;
}
.el-radio-button:first-child .el-radio-button__inner{
  background:#fff ;
  border:1px solid #e8e7e7;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  border:1px solid #e8e7e7;
  background:#f5f5f5 ;
}
//推广页面-添加广告组-预算选择

.budget-tabs.el-tabs--card>.el-tabs__header{
    border:none;
}
.budget-tabs.el-tabs--card>.el-tabs__header .el-tabs__nav{
  border:none;
}
.budget-tabs.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
  border:1px solid #409EFF;
  background:rgba(64, 158, 255, 0.2)  ;
  
}
.el-tabs__item:first-child{
  border-radius: 4px 0 0 4px;
}
.el-tabs__item:last-child{
  border-radius:0 4px 4px 0;
}
.budget-tabs.el-tabs--card>.el-tabs__header .el-tabs__item{
  border:1px solid #E4E7ED;
}
.budget-tabs .el-tabs__header{
  margin:0 0 22px 0;
}
.budget-box .el-tabs__content{
  left:-120px;
}  
.scene-choice {
  .gray {
      color: #bbb;
      font-size: 12px;
  }
}
//计划表格-编辑页面的样式
.edit-plan-table .el-input__inner{
  width:350px;
}
//计划表格-查看页面的样式
.see-plan-table .el-input__inner{
  width:350px;
}
//广告组表格-编辑页面的样式
.edit-adv-table .el-input__inner{
  width:350px;
}
//计划表格-查看页面的样式
.see-adv-table .el-input__inner{
  width:350px;
}

//广告组表格-添加页面的样式
.add-adv .el-input__inner{
  width:350px;
}
//公共的label
.budget-box {
  .budget-tabs {
      width: 100%;
  }
  display: flex;
  .public-label {
    width: 133px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #606266;
    font-weight: 700;
  }
}
.public-label {
  width: 133px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #606266;
  font-weight: 700;
}

//添加计划页面

//树形控件的样式
.my-tree .el-tree-node.is-expanded>.el-tree-node__children{
  display: flex;
  flex-flow:row wrap;
}

.my-tree .el-tree-node{
  border-bottom:1px solid #f2f1f1;
}
.my-tree .el-tree-node.is-expanded>.el-tree-node__children{
  border:none;
}

//卡片背景
.my-card .el-card__header{
  background:#f4f4f4;
}
//场景定向切换tab样式
.scene-box .el-tabs__content{
  left:0;
  
}
.my-card {
  // width:500px;
  
  .my-tree{
    // width:478px;
    height:150px;
    overflow-y: scroll;
  }
}
//投放时间切换tab样式
.time-box .el-tabs__content{
  left:160px;
  top:-60px;
  
}

//投放频次输入框
.rate-input-box .el-radio-button__inner{
  padding:12px 60px;
  
}
.rate-input{
  width:44%;
  margin:0 5px;
}
.rate-input .el-input__inner{
  height:20px;
  font-size:13px;
  padding:0 5px;
}


//添加计划页面-单选按钮样式
.new-style .el-radio-button__inner{
  background:#fff ;
  border:1px solid #e8e7e7;
  margin-left:5px;
  padding: 12px 20px;
  min-width:70px;
  margin-left:0;
}
.new-style .el-radio-button:first-child .el-radio-button__inner{
  background:#fff ;
  border:1px solid #e8e7e7;
  border-right:none;
  
}
.new-style .el-radio-button__orig-radio:checked+.el-radio-button__inner{
  background:rgba(64, 158, 255, 0.2)  ;
  color:#409EFF;
  border:1px solid #409EFF;
}
//公共的title
.title{
  font-weight: bold;
  font-size:20px;
}

///添加创意页面

.img-upload{
  width:30%;
  padding:20px;
  border:1px solid #eee;
  border-radius:4px;
  .el-upload-list{
    max-height:80px;
    overflow-y: auto;
  }
  .svg-icon{
    width:1.5em !important;
    height:1.5em !important;
    margin-right:5px;
  } 
  .el-upload{
    width:100%;
    height:90px;
    border:1px solid #eee;
    background:#edf5ff;
    border-radius:4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.img-upload-two{
  width:100%;
  .el-upload-list{
    max-height:200px;
    overflow-y: auto;
  }
  .svg-icon{
    margin-top:100px;
    margin-bottom:10px;
    width:3.5em !important;
    height:3.5em !important;
  } 
  .el-upload{
    height:250px;
    display: block;
    
    align-items: center;
  }
}
.my-tip{
  text-align: center;
}
.upload-title{
  font-size:12px;
  line-height:20px ;
  color:#9b9a9a;
}
//dialog弹出框-右上角 关闭按钮
.el-dialog__headerbtn{
  z-index:999;
}
//dialog弹出框-重命名
.add-ori .edit-img-name {
  text-align: center;
  .el-input__inner{
    width:auto;
    text-align: center;
  }
  
}
//单选框的圆圈点
.inner-box .is-checked.el-radio__input{
  z-index:999;
}